body {
    font-family: "Segoe UI", Helvetica, Avenir, sans-serif;
    background-color: #121212;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

p, u, li {
    line-height: 1.4;
    letter-spacing: 0.01em;
}

.content {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
}

.profile {
    color: #fff;
    padding: 10px 0;
    text-align: center;

    h1 {
        padding: 0;
        margin: 0;
    }

    p {
        padding: 1em;
        margin: 0;
    }
}

.project {
    margin: 0;

    h2 {
        padding: 0.2em 0 0.5em 0;
        margin: 0;
    }

    .project-header {
        background-color: #1E1E1E;
        padding: 4px;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        text-align: center;
    }

    .project-header:hover {
        background-color: #333333;
    }

    .project-content {
        max-height: 0;
        overflow: hidden;
        background-color: #121212;
        padding: 0;
        margin: 0;
        border-radius: 5px;
        transition:
            max-height 0.21s ease,
            padding 0.1s ease 0.19s,
            margin 0.1s ease 0.19s;
    }

    .project-content.expanded {
        max-height: 1000px;
        padding: 2em 3em 0em 2em;
        margin: 0.8em;
        margin-bottom: 0.4em;
        margin-top: 0;
        transition: max-height 0.6s ease;
    }

    .project-details {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 15px;
        flex-wrap: wrap;
    }

    .project-image {
        flex-basis: 47%;
        flex-shrink: 0;

        img {
            width: 100%;
            height: auto;
            max-height: 300px;
            object-fit: contain;
        }
    }

    .project-description {
        flex-basis: 50%;
        padding-left: 10px;
        text-align: left;

        h4 {
            margin: 0;
            padding: 0;
            text-align: center;
        }
    }

    @media (max-width: 600px) {
        .project-content.expanded {
            padding: 1.5em 0.5em 0em 1.5em;
            margin: 0.4em;
            margin-bottom: 0.2em;
            margin-top: 0;
        }

        .project-details {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .project-image {
            flex-basis: 100%;
            margin-bottom: 10px;
        }

        .project-description {
            flex-basis: 100%;
            padding-left: 0;
            text-align: center;
        }
    }

    .project-roles {
        text-align: left;
        margin-top: 10px;

        h4 {
            text-align: center;
        }

        ul, li {
            padding: 0;
            margin: 0.3em;
        }
    }

    .project-meta {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5em;
        margin-top: 10px;
        font-size: 0.85em;
        color: #BBBBBB;
    }
}

a {
    font-size: 0.9em;
    color: #1DA1F2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.carousel {
    position: relative;
    max-width: 100%; /* Adjust as needed */
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-images img {
    width: 100%;
    flex-shrink: 0;
    object-fit: cover;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    font-size: 18px;
    border-radius: 50%;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}

.carousel-control:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
